<app-form (onExpenseAdd)="receiveExpenseMessage($event)"></app-form>

@for (expense of expenses; track expense) {
    <ul id="expense-list" class="list-group mt-4">
        <li>
            <p>{{expense.description}} (Qtd. {{expense.quantity}}): {{expense.amount}} {{expense.currencyFrom}} => {{expense.convertedAmount}} {{expense.currencyTo}}</p>
        </li>
    </ul>
}

<ul id="expense-list" class="list-group mt-4"></ul>
<div id="total" class="mt-4">
    <p>Total (Moeda de Origem): <span id="total-origin">{{ totalOrigin }}</span></p>
    <p>Total (Moeda de Destino): <span id="total-destination">{{ totalDestination }}</span></p>
</div>

