<div style="margin-top: 3%;">
    <form class="form-group row" [formGroup]="this.form" (ngSubmit)="onSubmit()">
        <div class="col-md-4">
            <input type="text" id="description" class="form-control" placeholder="Descrição do Item"
                formControlName="description" required>
        </div>
        <div class="col-md-2">
            <input type="number" id="quantity" class="form-control" placeholder="Quantidade/Unidade"
                formControlName="quantity" required>
        </div>
        <div class="col-md-2">
            <input type="number" id="amount" class="form-control" placeholder="Valor" formControlName="amount" required>
        </div>
        <div class="col-md-2">
            <select id="currency-from" class="form-control" formControlName="currencyFrom" required>
                <option value="BRL">BRL</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div class="col-md-2">
            <select id="currency-to" class="form-control" formControlName="currencyTo" required>
                <option value="BRL">BRL</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
    </form>
</div>
<div class="text-center mt-4">
    <button id="add-expense" class="btn btn-primary" [disabled]="!this.form.valid"
        (click)="onSubmit()">Adicionar</button>
</div>

@for (expense of expenses; track expense; let idx = $index) {
<ul id="expense-list" class="list-group mt-4">
    <li>
        <p>{{expense.description}} (Qtd. {{expense.quantity}}): {{expense.amount}} {{expense.currencyFrom}} =>
            {{expense.convertedAmount}} {{expense.currencyTo}}</p>
        <div class="d-flex justify-content-end">
            <button type="button" class="button btn btn-primary" (click)="editExpense(idx, expense)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                    </path>
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z">
                    </path>
                </svg>
            </button>
            <button type="button" class="button btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z">
                    </path>
                    <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z">
                    </path>
                </svg>
            </button>
        </div>
    </li>
</ul>
}

<ul id="expense-list" class="list-group mt-4"></ul>
<div id="total" class="mt-4">
    <p>Total (Moeda de Origem): <span id="total-origin">{{ totalOrigin }}</span></p>
    <p>Total (Moeda de Destino): <span id="total-destination">{{ totalDestination.toFixed(2) }}</span></p>
</div>